.conteudo-right {
	float: left;
}

.conteudo-left {
	float: left;
}

body{
	  margin-top: 30px;
	  margin-left: 50px;
	  background-color: lightgray;
    font-family: Arial;
    font-size: .9em;
  }

p {
      margin: 4px;
    }

.space {
     margin-top: 15px;
     margin-bottom: 10px;
     font-weight: bold;
  }

#current_date {
    margin-bottom: 10px;
    font-size: 17Px;
  }
  h3 {
     margin: 0;
     }

  h4 {
      margin: 0;
     }
  h1 {
      margin-bottom: 5px;
     }

img {
      margin-top: 40px;
      width: 600px;
      height: auto;
     }

.h3_aircraft {
     	margin-top: 6px;
     }

.img_space {
     	margin-top: 40px;
     }
